<!DOCTYPE html>
{% extends 'navbar.html' %}

{% block content %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Us</title>
  </head>
  <body>
    <h1>Like Our Work? Contact Us Here:</h1><br>
    <ul>
      <li>Name: Erwin Smith</li>
      <li>Whatsapp/Call: +99 9999999991</li>
      <li>Social: Instagram, Facebook, Linkedin, Telegram</li>
      <li>Expertise: Planning, Managing Teams, Incident Response</li>
    </ul><br>
    <ul>
      <li>Name: Eren Yeager</li>
      <li>Whatsapp/Call: +99 9999999991</li>
      <li>Social: Instagram, Facebook, Linkedin, Telegram</li>
      <li>Expertise: Motivational Speaker, Team Lead</li>
    </ul><br>
    <ul>
      <li>Name: Naruto Uzumaki</li>
      <li>Whatsapp/Call: +99 9999999991</li>
      <li>Social: Instagram, Facebook, Linkedin, Telegram</li>
      <li>Expertise: Talk-no-jutsu, Social Connections</li>
    </ul><br>
  </body>
</html>
{% endblock %}
